$accent-color: #e7b965;
$text-color: #f4f2ed;
$secondary-text-color: #aaa9ad;
$background-color: #05070b;
$button-text-color: #17110a;

$font-primary: 'Manrope', sans-serif;
$font-heading: 'Manrope', sans-serif;
$font-code: 'JetBrains Mono', monospace;

$tablet-min-width: 640px;
$desktop-min-width: 1280px;
